@import "tailwindcss";
::selection {
  background-color: #1cd2ad;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 72s linear infinite reverse;
}
ee-wrapper:hover .marquee-track {
  animation-play-state: paused !important;
}
.marquee-track:hover,
.marquee-track:hover * {
  animation-play-state: paused !important;
}
html {
  scroll-behavior: smooth;
}